.div2,
.resText {
    letter-spacing: 0.8px;
}
#hire,
#home {
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 1rem;
}
.img-responsive {
    display: block;
    height: 100%;
    width: 100%;
    size: cover;

}
.banner {
    height: 100%;
    position: absolute;
    z-index: 2;
    overflow: hidden;
}

.cV,
.hireme,
.resText {
    text-transform: capitalize;
}
.email:hover,
.name:hover,
.nav-link1,
.skill-btn,
.social,
a {
    text-decoration: none;
}
* {
    margin: 0;
    padding: 0;
}
body {
    font-family: Poppins,sans-serif;
}
#home {
    display: block;
    background: rgb(0, 0, 0);
    display: flow-root;
    padding-bottom: 1rem;

}
@media (max-width:1440px) {
    .container-fluid {
        text-align: center;
        display: flow-root;
        padding: 0 0.5rem;
    }
}
.scrolll {
    background-color: black !important;
    transition: 0.2s linear;
}
.brand,
.hireme:hover,
.offcanvas-title:hover {
    background-color: #ffc20e;
}
.navbar-brand {
    font-size: 1.9rem;
    color: #fff;
    font-weight: 600;
    letter-spacing: 2px;
}
.navbar-brand:hover {
    color: #fff;
}
.brand {
    font-size: 2.1rem;
    font-weight: 600;
    color: rgb(255, 255, 255);
    border-radius: 100%;
    background-color: black;
}
.dynamic-txt li,
.offcanvas-title {
    font-family: Poppins,sans-serif;
    font-weight: 600;
}
.row3,
.text1,
.toggler {
    padding: 0;
}
.navbar-toggler {
    border: none;
    transition: none;
    box-shadow: none;
    font-size: 1rem;
}
.icon {
    display: inline-block;
    width: 2.2em;
    height: 1.5em;
    vertical-align: middle;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255,255' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}
.header {
    background-color: #fff;
    padding: 0.2rem 0.5rem;
}
.offcanvas {
    width: 22%;
}
.offcanvas-title {
    color: black;
    font-size: 1.8rem;
    border: 2px solid #ff0;
    padding: 0 2.5%;
    cursor: pointer;
}
.cV,
.skill-btn {
    border-radius: 0;
}
.socialmedia {
    margin-top: 10%;
}

.social {
    color: #fff;
}
.tweet:hover {
    color: #0dcaf0;
}
.face:hover {
    color: #3b5998;
}
.insta:hover {
    color: #eb5395;
}
.link:hover {
    color: #0e76a8;
}
.git:hover,
.social2 {
    color: #4d555a;
}
.nav-link1 {
    font-family: Poppins,sans-serif;
    font-weight: 500;
    font-size: 1.1rem;
    display: block;
    color: #fff;
    transition: color 0.15s ease-in-out;
}
.nav-link1:hover{
    border-bottom: 2px solid #fff;
    transition: all 2sec;

}
.nav-item{
    padding: 0.5rem 1.5rem;
 
}
.nav-link1:hover {
    color: #ffc20e;
}
.row1 {
    position: relative;
    text-align: center;
    margin: 13rem auto 0;
    z-index: 0;
    padding-bottom: 50px;
}
.wrapper {
    position: relative;
    z-index: 2000;
    width: 47%;
    margin: auto;

}
.freelancer {
    font-size: 3rem;
    font-weight: 400;
    font-family: Poppins,sans-serif;
    color: #fff;
    margin-bottom: 3%;
    z-index: 100;

}
.wrapper .dynamic-txt {
    margin: 0;
    padding: 0;
    background-color: transparent;
    line-height: 110px;
    height: 100px;
    overflow: hidden;
}
.dynamic-txt li {
    list-style: none;
    letter-spacing: 10px;
    font-size: 5.3rem;
    color: #ffc20e;
    position: relative;
    top: 0;
    animation: 12s steps(3) infinite slide;
}
@keyframes slide {
    100% {
        top: -335px;
    }
}
.dynamic-txt li::after {
    content: " ";
    position: absolute;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -100;
    background-color: transparent;
    /* border-left: 5px solid #fff; */
    animation: 4s steps(10) infinite typing;
}
@keyframes typing {
    40%,
    60% {
        left: calc(95%);
    }
    100% {
        left: 0;
    }
}
.dynamic {
    color: #fff;
    font-size: 1.8rem;
    margin-top: 1.5rem;
}
.div2,
.skill-btn {
    color: black;
    background-color: #ffc20e;
    font-family: Poppins,sans-serif;
    text-align: center;
}
.skill-btn {
    font-weight: 700;
    margin-top: 2.5%;
    padding: 0.5rem 1.5rem;
}
.email,
.name {
    text-decoration: underline;
}
.skill-btn:hover {
    color: #fff;
    background-color: #f3d92c;
}
.arrow1 {
    border: none;
    border-radius: 0;
    margin: 2rem auto;

}
.bounce {
    width: 100%;
}
.bounce .arrow {
    display: block;
    margin: -10% auto auto;
    width: 20px;
    height: 20px;
    border-right: 4px solid #fff;
    border-bottom: 4px solid #fff;
    transform: rotate(45deg);
    animation: 2s infinite animate;
}
.bounce .arrow:first-child,
.bounce .arrow:nth-child(2) {
    animation-delay: 0.2s;
}
@keyframes animate {
    0% {
        opacity: 0;
        transform: rotate(45deg) translate(-20px,-25px);
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        transform: rotate(45deg) translate(25px,20px);
    }
}
#About {
    padding: 7.5rem 5rem;
    border-top: 3px solid #ffc20e;
    border-bottom: 3px solid #ffc20e;
    background-color: black;
    position: relative;
    margin-top: 694px;
    z-index: 2;

}
.row2 {
    margin-top: 3rem;
}
.div1 {
    text-align: center;

}
.know-me {
    color: #fff;
}
.div2 {
    display: block;
    width: 110px;
    font-size: 1.2rem;
    font-weight: 400;
    margin: auto;
}
.know-me {
    font-size: 3rem;
    font-family: Poppins,sans-serif;
    font-weight: 600;
}
.parahead {
    font-weight: 400;
    color: #fff;
    font-family: Poppins,sans-serif;
}
.text-decoration {
    font-weight: 700;
    border-bottom: 4px solid #ffc20e;
    margin-bottom: 1.5;
}
.para {
    font-size: 1.5rem;
    color: grey;
}
.profile {
    height: 100%;
    width: 57%;
    border-radius: 100%;
}
.text2 {
    color: rgb(255, 255, 255);
}
.details {
    font-weight: 600;
    color: grey;
    font-size: 1.3rem;
}
.email {
    color: #4c4d4d;
}
#Resume {
    text-align: center;
    padding: 3rem 4rem;
    background-color: rgb(51, 51, 51);
    color: #fff;
    position: relative;
    z-index: 2;
}
.resText {
    display: inline;
    padding: 0 0.6rem;
    font-size: 1.2rem;
    font-family: Poppins,sans-serif;
    font-weight: 400;
    color: black;
    text-align: center;
    background-color: #ffc20e;
    margin: auto;
}
.sumText {
    margin-top: 1rem;
    font-size: 3rem;
    font-family: Poppins,sans-serif;
    font-weight: 600;
}
.row4 {
    margin-top: 4rem;
}
.Edu {
    width: 100%;
    border-left: 3px solid #ffc20e;
    margin-top: 2.5rem;
}
.fsSize {
    font-size: 2.2rem;
}
.years {
    color: #e8c55f;
    font-size: 1.5rem;
}
.bachelor {
    margin-top: 1.6rem;
    color: rgb(185, 185, 185);
}
.instituete {
    color: grey;
    font-size: 1.2rem;
}
@media (max-width:600px) {
    #home {
        background-size: cover;
    }
    .navbar-brand {
        font-size: 1.6rem;
    }
    .brand {
        font-size: 1.8rem;
        font-weight: 600;
        border-radius: 100%;
    }
    .icon {
        width: 30px;
        height: 20px;
    }
    .offcanvas {
        max-width: 100%;
    }
    .header {
        padding: 0.1rem 0.5rem;
    }
    .fsSize,
    .offcanvas-title {
        font-size: 1.4rem;
    }
    .nav-link1 {
        font-size: 1rem;
        padding-left: 0;
        font-weight: 400;
    }
    .nav-link1:hover{
        border:none;
    
    }
    .nav-item{
        padding: 0.5rem 0rem;
     
    }
    .wrapper {
        width: 80%;
    }
    .freelancer {
        font-size: 1.5rem;
    }
    .dynamic-txt li {
        letter-spacing: 5px;
        animation: 12s steps(3) infinite slide;
        font-size: 2rem;
    }
    @keyframes slide {
        100% {
            top: -150px;
        }
    }
    .wrapper .dynamic-txt {
        height: 50px;
        line-height: 50px;
    }
    .dynamic {
        font-size: 1rem;
        margin: auto;
    }
    .skill-btn {
        margin-top: 1.5rem;
        padding: 0.3rem 0.7rem;
        font-size: 0.8rem;
    }
    .row1 {
        margin-top: 8rem;
        padding-bottom: 0;

    }
    .bounce .arrow {
        width: 14px;
        height: 14px;
    }
    #About {
        padding: 3rem 1rem;
        margin-top: 380px;
    }
    .know-me,
    .sumText {
        font-size: 2rem;
    }
    .parahead {
        font-size: 1.3rem;
        margin-bottom: 1rem;
    }
    .details,
    .instituete,
    .para,
    .text2 {
        font-size: 1rem;
    }
    .text1 {
        padding: 0 2rem;
    }
    .row3 {
        padding-left: 2rem;
    }
    .row2 {
        margin-top: 1.5rem;
    }
    .col-sm-12 {
        flex: 0 0 auto;
        width: 100%;
    }
    #Resume {
        padding: 1rem;
        background-color: #fff;
        color: black;
    }
    .education {
        width: 100%;
        padding-top: 1rem;
    }
    .bachelor {
        font-size: 1.2rem;
        margin-top: 0.6rem;
    }
    .Edu,
    .row4 {
        margin-top: 1.3rem;
    }
    .row4 {
        padding: 0 1rem;
    }
    .years {
        font-size: 0.9rem;
    }
    .banner {
        z-index: -1;
    }
    .arrow1 {
        margin: 2rem auto 1rem;
    }
}
@media (min-width:992px) {
    .col-md-6 {
        flex: 0 0 auto;
        width: 50%;
    }
    .col-md-7 {
        flex: 0 0 auto;
        width: 58.33333333%;
    }
    .col-md-4 {
        flex: 0 0 auto;
        width: 33.33333333%;
    }
    .education {
        width: 100%;
    }
}
.logo {
    width: 20%;
    display: block;
    margin: 0 3rem;
}
.flexbox1 {
    display: flex;
    margin-top: 3rem;
}
.cV {
    padding: 0.5rem 2.5rem;
    color: black;
    font-weight: 500;
    border: 3px solid black;
    margin-top: 2rem;
}
.cV:hover {
    border-color: #fff;
}
.logo2:hover {
    position: relative;
    bottom: 7px;
}
@media (min-width:1200px) {
    .container-fluid {
        text-align: center;
        padding: 0 2rem;
        display: flow-root;
    }
    .col-lg-8 {
        flex: 0 0 auto;
        width: 66.66666667%;
    }
    .col-lg-4 {
        flex: 0 0 auto;
        width: 33.33333333%;
    }
    .col-lg-3 {
        flex: 0 0 auto;
        width: 25%;
    }
    .education {
        width: 50%;
    }
    .col-lg-6 {
        flex: 0 0 auto;
        width: 50%;
    }
}
#hire {
    height: 450px;
    background: black;
    text-align: center;
    margin-top: 6rem;
    padding-top: 10rem;
}
.hireMe {
    width: 65%;
    margin: auto;
}
.hireText {
    color: #fff;
    font-weight: 600;
    font-size: 3.5rem;
    letter-spacing: 2px;
}
.hireme {
    border-radius: 0;
    background-color: #ffc20e;
    padding: 1rem 2rem;
    font-weight: 500;
    margin-top: 1.5rem;
}
#Contact {
    margin-top: 6rem;
    background-color: #ffc20e;
    text-align: center;
    padding: 6rem;
}
.conHead {
    color: black;
    font-weight: 600;
    font-size: 3rem;
    letter-spacing: 0.5px;
    font-family: Poppins,sans-serif;
    margin-bottom: 2.2rem;
}
.conText {
    font-size: 1.7rem;
    font-weight: 400;
}
.address {
    font-size: 1.7rem;
    font-weight: 600;
    margin-top: 2rem;
}
.addText {
    font-size: 1.5rem;
    font-weight: 400;
    color: black;
}
.media2 {
    display: flex;
    justify-content: space-around;
    width: 80%;
    margin: 9rem auto 0;
}
.fa3:hover {
    height: 40px;
}
.copy {
    background-color: black;
    padding: 2rem;
    text-align: center;
}
.right {
    color: rgb(0, 0, 0);
    font-size: 1rem;
    margin: 0;
    letter-spacing: 1px;
}
.name {
    color: #ffc20e;
    font-weight: 500;
}
.name:hover {
    color: #ffc20e;
}
@media (max-width:600px) {
    .logo {
        width: 25%;
        margin-right: 0;
    }
    .skills {
        margin-top: 2rem;
    }
    .flexbox1 {
        margin-top: 1.5rem;
    }
    .jquery {
        height: 67px;
        width: 50%;
    }
    .cV {
        padding: 0.3rem 0.8rem;
        font-size: 0.8rem;
    }
    #hire {
        height: 300px;
        margin-top: 4rem;
        padding-top: 4rem;
    }
    .hireMe {
        width: 90%;
        margin-top: 1.5rem;
    }
    .hireText {
        color: #fff;
        font-weight: 600;
        font-size: 1.8rem;
        letter-spacing: 0;
    }
    .hireme {
        padding: 0.3rem 0.8rem;
        font-weight: 500;
        margin-top: 1.2rem;
    }
    #Contact {
        margin-top: 6rem;
        padding: 3rem;
    }
    .conHead {
        font-size: 1.5rem;
        letter-spacing: 0.2px;
        margin-bottom: 1rem;
    }
    .conText {
        font-size: 0.9rem;
        font-weight: 400;
    }
    .address {
        font-size: 1.2rem;
        font-weight: 600;
        margin-top: 1rem;
    }
    .addText {
        font-size: 0.9rem;
    }
    .fa3 {
        height: 30px;
    }
    .media2 {
        width: 78%;
        margin: 3rem auto 0;
    }
    .social2 {
        color: #4d555a;
    }
    .copy {
        padding: 1.5rem 2.5rem;
    }
    .right {
        font-size: 0.8rem;
        margin: 0;
    }
}
