* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Poppins", sans-serif;
}

#home {
    display: block;
    background-image: url("https://images.pexels.com/photos/669996/pexels-photo-669996.jpeg?cs=srgb&dl=pexels-bich-tran-669996.jpg&fm=jpg");
    background-size: cover;
    background-repeat: no-repeat;
    display: flow-root;
}

/* Extra small devices (phones, 600px and down) */
@media (max-width: 1440px) {

    .container-fluid {
        text-align: center;
        display: flow-root;
        padding: 0 0.5rem;
    }

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media (min-width: 1200px) {

    .container-fluid {
        text-align: center;
        padding: 0 2rem;
        display: flow-root;
    }
}

a {
    text-decoration: none;
}

/********** navbar****** */
.navbar-brand {
    font-size: 2.2rem;
    font-family: 'Bodoni Moda', serif;
    color: #fff;
}
@media (max-width: 600px) {
    .navbar-brand {
        font-size: 1.8rem;
    }

}

/************ navbar-toggler *****/
.toggler {
    padding: 0;
}

.icon {
    display: inline-block;
    width: 2.2em;
    height: 1.5em;
    vertical-align: middle;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}

.icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255,255' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

/********* canvas********** */
.header {
    background-color: #fff;
    padding: 0.2rem 0.5rem;
}
.offcanvas {
    max-width: 22%;
}

.offcanvas-title {
    color: #000;
    font-size: 1.8rem;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    border: 2px solid yellow;
    padding: 0 2.5%;
    cursor: pointer;
}

.offcanvas-title:hover {
    background-color: #f5df4e;
}

.socialmedia {
    margin-top: 10%;
}

.social {
    text-decoration: none;
    color: #fff;
}

.tweet:hover {
    color: #0dcaf0;
}

.face:hover {
    color: #3B5998;
}

.insta:hover {
    color: #3F729B;
}

.link:hover {
    color: #0E76A8;
}

/********* nav-items ********/

.nav-link1 {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 1.2rem;
    display: block;
    padding: 0.5rem 1rem;
    color: #fff;
    text-decoration: none;
    transition: color 0.15s ease-in-out;
}

.nav-link1:hover {
    color: #f5df4e;
}
@media (max-width:600px) {
    .offcanvas {
        max-width: 90%;
    }
    .header {
        padding: 0.1rem 0.5rem;
    }
    .offcanvas-title {
        font-size: 1.4rem;
    }
    .nav-link1 {
        font-size: 1rem;
        padding-left: 0;
    }
}

/* ****************TYPED TEXT************* */
.row1 {
    text-align: center;
    margin: 13rem auto 0;
}

.wrapper {
    width: 47%;
    margin: auto;
}
.freelancer {
    font-size: 3rem;
    font-weight: 400;
    font-family: "Poppins", sans-serif;
    color: #fff;
    margin-bottom: 3%;
}

.wrapper .dynamic-txt {
    margin: 0;
    padding: 0;
    background-color: #000;
}

.dynamic-txt li {
    list-style: none;
    letter-spacing: 10px;
    font-size: 5.3rem;
    color: #fff;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    position: relative;
    top: 0;
    animation: slide 12s steps(3) infinite;
}

@keyframes slide {
    100% {
        top: -335px;
    }
}

.dynamic-txt li::after {
    content: " ";
    position: absolute;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #000;

    border-left: 5px solid #fff;
    animation: typing 4s steps(10) infinite;
}

@keyframes typing {
    40%,
    60% {
        left: calc(95%);
    }

    100% {
        left: 0;
    }
}

.wrapper .dynamic-txt {
    line-height: 110px;
    height: 100px;
    overflow: hidden;
}

.dynamic {
    color: #fff;
    font-size: 1.8rem;
    margin-top: 1.5rem;
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media (max-width: 600px) {

    .wrapper {
        width: 80%;
    }

    .freelancer {
        font-size: 1.5rem;

    }

    .dynamic-txt li {
        letter-spacing: 5px;
        animation: slide 12s steps(3) infinite;
    }
    @keyframes slide {
        100% {
            top: -150px;
        }
    }

    .wrapper .dynamic-txt {
        height: 50px;
        line-height: 50px;
    }
    .dynamic-txt li {
        font-size: 2rem;
    }
    @keyframes typing {
        40%,
        60% {
            left: calc(90%);
        }

        100% {
            left: 0;
        }
    }
    .dynamic {
        font-size: 1rem;
        margin: auto;
    }
}

/********** VEIW ***********/
.skill-btn {
    text-decoration: none;
    font-family: 'Poppins',sans-serif;
    font-weight: bold;
    text-align: center;
    color: #000;
    background-color: #f5df4e;
    border-radius: 0;
    margin-top: 2.5%;
    padding: 1.2% 4.2%;
}

.skill-btn:hover {
    color: #fff;
    background-color: #f3d92c;
}

@media (max-width: 600px) {
    .skill-btn {
        margin-top: 1.5rem;
        padding: 0.3rem 0.7rem;
        font-size: 0.8rem;
    }
    .row1 {
        margin-top: 8rem;
    }
}

/* Arrow */

.arrow1 {
    border: none;
    border-radius: 0;
}
.bounce {
    width: 100%;
}

.bounce .arrow {
    display: block;
    margin: auto;
    width: 20px;
    height: 20px;
    border-right: 4px solid #fff;
    border-bottom: 4px solid #fff;
    transform: rotate(45deg);
    margin-top: -10%;
    animation: animate 2s infinite;
}

.bounce .arrow:nth-child(1) {
    animation-delay: 0.2s;
}

.bounce .arrow:nth-child(2) {
    animation-delay: 0.2s;
}

@keyframes animate {
    0% {
        opacity: 0;
        transform: rotate(45deg) translate(-20px, -25px);
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        transform: rotate(45deg) translate(25px, 20px);
    }
}

@media (max-width: 600px) {
    .bounce .arrow {
        width: 14px;
        height: 14px;
    }
}
/* ****About Me***** */
#About {
    padding: 7.5rem 5rem;
}
.row2 {
    margin-top: 3rem;
}
.row3 {
    padding: 0;
}
.div1 {
    text-align: center;
}

.div2 {
    display: block;
    width: 110px;
    font-size: 1.2rem;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    color: #000;
    letter-spacing: 0.8px;
    text-align: center;
    background-color: #f5df4e;
    margin: auto;
}

.know-me {
    font-size: 3rem;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
}

.parahead {
    font-weight: 400;
    font-family: 'Poppins',sans-serif;
}

.text-decoration {
    font-weight: bold;
    border-bottom: 4px solid #f5df4e;
    margin-bottom: 1.5;
}

.text1 {
    padding: 0;
}
.para {
    font-size: 1.5rem;
    color: grey;

}

.profile {
    height: 100%;
    width: 57%;
    border-radius: 100%;
}

@media (max-width:600px) {
    #About {
        padding: 3rem 1rem;
    }
    .know-me {
        font-size: 2rem;
    }
    .parahead {
        font-size: 1.3rem;
        margin-bottom: 1rem;
    }
    .para {
        font-size: 0.8rem;
    }
    .text1 {
        padding: 0 2rem;
    }
    .row3 {
        padding-left: 2rem;

    }
    .row2 {
        margin-top: 1rem;
    }

}

/********* Details**** */

.text2 {
    color: #000;

}

.details {
    font-weight: 600;
    color: #4c4d4d;
    font-size: 1.3rem;

}

.email {
    text-decoration: underline;
    color: #4c4d4d;
}
.email:hover {
    text-decoration: none;
}

@media (max-width:600px) {
    .text2 {
        font-size: 1rem;
    }
    .details {
        font-size: 1rem;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media (min-width: 992px) {
    .col-md-6 {
        flex: 0 0 auto;
        width: 50%;
    }
    .col-md-7 {
        flex: 0 0 auto;
        width: 58.33333333%;
    }
    .col-md-4 {
        flex: 0 0 auto;
        width: 33.33333333%;
    }

}

/* Extra small devices (phones, 600px and down) */
@media (max-width: 600px) {

    .col-sm-12 {
        flex: 0 0 auto;
        width: 100%;
    }

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media (min-width: 1200px) {
    .col-lg-8 {
        flex: 0 0 auto;
        width: 66.66666667%;
    }
    .col-lg-4 {
        flex: 0 0 auto;
        width: 33.33333333%;
    }
    .col-lg-6 {
        flex: 0 0 auto;
        width: 50%;
    }
    .col-lg-3 {
        flex: 0 0 auto;
        width: 25%;
    }

}
/****resume******* */
#resume {
    text-align: center;
    padding: 3rem 4rem;
}

.resText {
    text-transform: capitalize;
    display: inline;
    padding: 0 0.6rem;
    font-size: 1.2rem;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    color: #000;
    letter-spacing: 0.8px;
    text-align: center;
    background-color: #f5df4e;
    margin: auto;
}
.sumText {
    margin-top: 1rem;
    font-size: 3rem;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
}

.Edu {
    width: 100%;
    border-left: 3px solid #f5df4e;
}
.years {
    color: #4c4d4d;
}
.instituete {
    color: #4c4d4d;
    font-size: 1.2rem;

}
/* Extra small devices (phones, 600px and down) */

@media (max-width: 600px) {

    #resume {
        padding: 2rem 1rem;
    }
    .education {
        width: 100%;
    }
    .sumText {
        font-size: 2rem;

    }
    .instituete {
        font-size: 1rem;
    }
}
@media (min-width: 992px) {

    .education {
        width: 100%;
    }
}
@media (min-width: 1200px) {
    .education {
        width: 50%;

    }

}
